<!-- Start Contact Form -->
<div class="untree_co-section">
  <div class="container">
    <div class="block">
      <div class="row justify-content-center">
        <div class="col-md-8 col-lg-8 pb-4">
          <div class="row mb-5">

          <form href="/contact" method="POST">  
            <div class="form-group">
              <label class="text-black">Rate  <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="rate">
            </div>

            <div class="form-group mb-5">
              <label class="text-black">Comment</label>
              <textarea cols="30" rows="5" class="form-control" name="comment"></textarea>
            </div>

            <button type="submit" class="btn btn-primary-hover-outline">Send</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- End Contact Form -->