<div class="product-info">
  <div class="product-info-left">
    <img src="images/product-3.png">
  </div>
  <div class="product-info-right">
    <h3 class="product-name">Nordic Chair</h3>
    <h4 class="product-star">
      <img src="star-icon.png">4.5. Sold: 02.
    </h4>
    <h3 class="product-price">
      <span>$100.00</span> 
      $50.00 
      <button class="sale-button">Sale: 15%</button>
    </h3>
    
    <p><strong>Tag <span style="color: #eff2f1;">------</span></strong>Chair, ...</p>
    <p><strong>Color <span style="color: #eff2f1;">----</span></strong>
      <button class="color-button">White</button>
      <button class="color-button">Yellow</button>
      <button class="color-button">Brown</button>
    </p>
    <p><strong>Number <span style="color: #eff2f1;">--</span></strong>
      <button class="minus-button">-</button>
      <button class="number-button">1</button>
      <button class="plus-button">+</button>
    </p>
    <button class="add-button">Add to Cart</button>
    <button class="buy-button">Buy Now</button>
  </div>
</div>

<div class="product-description" style="margin: 100px 260px;">
  <div class="product-tab">
    <button class="description-button">Description</button>
    <button class="review-button">Review</button>
    <hr>
  </div>
  <p>Donec facilisis quam ut purus rutrum lobortis. Donec vitae odio quis nisl dapibus malesuada. Nullam ac aliquet velit. Aliquam vulputate velit imperdiet dolor tempor tristique. Pellentesque habitant</p>
  <p style="display: none;">Lalala</p>
</div>