<div>
  <div class="container" style="display: flex; justify-content: center; align-items: center;">
    <input type="text" class="form-control me-2" placeholder="Search" style="font-size: 16px; height: 45px; width: 550px; margin: 50px 0px; border-radius: 0;">
    <button class="form-control" style="border-radius: 0; width: 50px; height: 45px; margin-left: -8px;"><img src="search-icon.png" style="width: 30px; height: 30px; margin: -5px -5px;"></button>
  </div>

  <div class="container" style="display: flex; justify-content: center; align-items: center;">
    <div class="dropdown">
      <p>FILTER BY | </p>
    </div>

    <div class="dropdown">
      <button class="form-control dropbtn" style="border-radius: 0; width: 180px;">Category</button>
      <div class="dropdown-content">
        <label><input type="checkbox"> Cabinets & Shelves</input></label><br>
        <label><input type="checkbox"> Char</input></label><br>
        <label><input type="checkbox"> Table</input></label><br>
        <label><input type="checkbox"> Other</input></label><br>
      </div>
    </div>

    <div class="dropdown">
      <button class="form-control dropbtn" style="border-radius: 0; width: 160px;">Price</button>
      <div class="dropdown-content">
        <label><input type="checkbox"> High</input></label><br>
        <label><input type="checkbox"> Medium</input></label><br>
        <label><input type="checkbox"> Low</input></label><br>
      </div>
    </div>

    <div class="dropdown">
      <button class="form-control dropbtn" style="border-radius: 0; width: 160px;">Size</button>
      <div class="dropdown-content">
        <label><input type="checkbox"> 1m</input></label><br>
        <label><input type="checkbox"> 1.5m</input></label><br>
        <label><input type="checkbox"> 2m</input></label><br>
      </div>
    </div>

    <div class="dropdown">
      <p>SORT BY | </p>
    </div>

    <div class="dropdown">
      <button class="form-control dropbtn" style="border-radius: 0; width: 160px;">Product</button>
      <div class="dropdown-content">
        <label><input type="checkbox"> Price Decrease</input></label><br>
        <label><input type="checkbox"> Price Increase</input></label><br>
        <label><input type="checkbox"> Newest</input></label><br>
        <label><input type="checkbox"> Oldest</input></label><br>
        <label><input type="checkbox"> Bestseller</input></label><br>
      </div>
    </div>
  </div>
</div>


<div class="untree_co-section product-section before-footer-section">
    <div class="container">
      <div class="row">

        <!-- Start Column 1 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <a class="product-item" href="#">
            <img src="images/product-3.png" class="img-fluid product-thumbnail">
            <h3 class="product-title">Nordic Chair</h3>
            <strong class="product-price" style="margin-left: 120px;">$50.00</strong>
            <h3><img src="star-icon.png" style="width: 20px; margin-bottom: 5px;"> 4.5</h3>
            <span class="icon-cross">
              <img src="images/cross.svg" class="img-fluid">
            </span>
          </a>
        </div> 
        <!-- End Column 1 -->
          
        <!-- Start Column 2 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <a class="product-item" href="#">
            <img src="images/product-1.png" class="img-fluid product-thumbnail">
            <h3 class="product-title">Nordic Chair</h3>
            <strong class="product-price">$50.00</strong>
            <h3><img src="star-icon.png" style="width: 20px; margin-bottom: 5px;"> 4.5</h3>

            <span class="icon-cross">
              <img src="images/cross.svg" class="img-fluid">
            </span>
          </a>
        </div> 
        <!-- End Column 2 -->

        <!-- Start Column 3 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <a class="product-item" href="#">
            <img src="images/product-2.png" class="img-fluid product-thumbnail">
            <h3 class="product-title">Kruzo Aero Chair</h3>
            <strong class="product-price">$78.00</strong>
            <h3><img src="star-icon.png" style="width: 20px; margin-bottom: 5px;"> 4.5</h3>

            <span class="icon-cross">
              <img src="images/cross.svg" class="img-fluid">
            </span>
          </a>
        </div>
        <!-- End Column 3 -->

        <!-- Start Column 4 -->
        <div class="col-12 col-md-4 col-lg-3 mb-5">
          <a class="product-item" href="#">
            <img src="images/product-3.png" class="img-fluid product-thumbnail">
            <h3 class="product-title">Ergonomic Chair</h3>
            <strong class="product-price">$43.00</strong>
            <h3><img src="star-icon.png" style="width: 20px; margin-bottom: 5px;"> 4.5</h3>

            <span class="icon-cross">
              <img src="images/cross.svg" class="img-fluid">
            </span>
          </a>
        </div>
        <!-- End Column 4 -->
      </div>
    </div>
</div>