<div class="untree_co-section">
  <div class="container" style="margin-bottom: 100px;">
    <div class="row mb-5">
      <div class="col-md-6 mb-5 mb-md-0" style="margin: auto">
        <% if (successMessages.length > 0) { %>
          <div class="alert alert-success">
            <%= successMessages[0] %>
            <span style="float: right;">
              <a style="text-decoration: none;" href="/admin">&#215;</a>
            </span>
          </div>
        <% } %>
      </div>
    </div>

    <div style="height: 750px; visibility: hidden;">
      p
    </div>
  </div>
</div>