<div class="untree_co-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 mb-5 mb-md-0" style="margin-left: auto; margin-right: auto">

        <h2 class="h3 mb-3 text-black">Login</h2>
        <div class="p-3 p-lg-5 border bg-white">
          <form action="/login" method="post">
            <div class="form-group row">
              <div class="col-md-12">
                <label class="text-black">Email <span class="text-danger">*</span></label>
                <input type="text" class="form-control" id="email" name="email" required>
              </div>
            </div>

            <div class="form-group row">
              <div class="col-md-12">
                <label class="text-black">Password <span class="text-danger">*</span></label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
            </div>

            <div class="form-group" style="margin-top: 20px">
              <button class="btn btn-black btn-sm py-3 btn-block">Login</button>
            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</div>